---
title: "Folienverpackung"
layout: layout/page-wrapper-with-breadcrumbs.njk
---

<div class="bg-secondary">
    <div class=" text-secondary-foreground max-w-7xl mx-auto px-16 md:px-48 py-8 mt-4">
        <h1 class="text-3xl md:text-4xl font-headline font-light pb-6">{{ title }}</h1>
        <p class="text-base font-light leading-relaxed">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur.
        </p>
    </div>
</div>
<div class="grid sm:grid-cols-2 my-12  sm:gap-12 max-w-7xl mx-auto">
    {% for subdivision in collections['folienverpackung'] %}
        <div class=" justify-between py-4 flex flex-col group overflow-hidden hover:z-10 md:basis-1/3 grow-1 focus:outline-hidden
                duration-300 ease-in-out ">
            <div class="rounded overflow-hidden ">
                <img class="size-full top-0 start-0 object-cover h-[350px] rounded-t-md" src="{{ subdivision.data.image | url }}" alt="Card Image"/>
            </div>
            <div class="p-6 px-8 rounded  flex flex-col mt-4 gap-6">
                <h3 class="text-2xl md:text-3xl font-headline  text-foreground font-light leading-snug">
                    {{ subdivision.data.name }}
                </h3>
                <p class=" text-foreground/75 font-light tracking-wide text-sm md:text-base leading-relaxed  ">
                    {{ subdivision.data.description }}
                </p>
                <a href="{{ page.url | url }}{{ subdivision.data.subfolder }}/" class="text-sm flex items-center  py-3 px-4 font-medium tracking-wider gap-x-1  text-primary border border-primary w-fit  hover:bg-primary hover:text-primary-foreground transition-colors cursor-pointer  focus:outline-hidden focus:bg-primary disabled:opacity-50 disabled:pointer-events-none">
                    Maschinen ansehen
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="lucide lucide-chevron-right-icon lucide-chevron-right size-4 stroke-2"><path d="m9 18 6-6-6-6"/>
                    </svg>
                </a>
            </div>
        </div>
    {% endfor %}
</div>
{# #3864a8 #5372a2 #}