<!doctype html>
<html class="scroll-smooth" lang="de">
  <head>
    <meta charset="UTF-8">
    <meta
    name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Favicon for most browsers -->
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/favicon/favicon-32x32.png" | url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/favicon/favicon-16x16.png" | url }}">
    <link
    rel="shortcut icon" href="{{ "/assets/favicon/favicon.ico" | url }}"> <!-- Apple Touch Icon -->
    <link
    rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/favicon/apple-touch-icon.png" | url }}"> <!-- Android / Chrome -->
    <link rel="manifest" href="{{ "/assets/favicon/site.webmanifest" | url }}">
    <!-- Safari pinned tab -->
    {# <link
                                                        rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5"> #}
    <!-- Windows tile -->
    {# <meta name="msapplication-TileColor" content="#2b5797">
                                                        <meta
                                                        name="msapplication-TileImage" content="/mstile-150x150.png"> #}
    <!-- Theme colors for mobile browsers -->
    {# <meta name="theme-color" content="#ffffff"> #}<script src="{{ "/assets/js/preline/preline.js" | url }}"> </script>
    <script src="{{ "/assets/js/main.js" | url }}" defer></script>
    <script src="{{ "/assets/js/embla-carousel/embla-carousel.umd.js" | url }}"></script>

    <link href="{{ "/output.css" | url }}" rel="stylesheet">
    <title>{{ title }}</title>
  </head>
  <body class="min-h-screen flex flex-col justify-center items-center bg-background" lang="de">
    <div id="header-sentinel" class="h-px"></div>
    {% include "layout/header.njk" %}
    <main class=" grow-1 w-full">
      {{ content | safe }}
    </main> 
      {% include "layout/footer.njk" %}   
  </body>
</html></body></html>