---
layout: layout/app.njk
---

<div class="pt-4 mt-18">
    <nav class="px-6 2xl:px-0 max-w-8xl mx-auto">
    {%- from "components/breadcrumbs.njk" import breadcrumbs -%}
    {% set crumbs = page.url | breadcrumbs %}
    {{ breadcrumbs(crumbs) }}
    </nav>
    {{ content | safe }}
</div>