---
title: "Inhalt nicht gefunden"
layout: layout/app.njk
permalink: /404.html
---

<div class=" m-12">
    <div class="flex flex-col flex-wrap md:flex-row md:items-end items-center justify-center"><img class="max-w-16" src="{{"/assets/img/404/404.png" | url}}"/>
        <div>
            <span class="text-3xl font-bold mr-1">404</span>
            <span class="text-3xl font-light">Seite nicht gefunden</span>
        </div>
          <div class="w-full justify-center flex">
    <a href="{{"/" | url}}" class="mt-2 inline-block text-lg underline underline-offset-2 hover:decoration-blue-800 hover:text-blue-800 ">Zur Startseite</a>
    </div>
    </div>
  
</div>