@import "tailwindcss";
/* @import '@fontsource-variable/nunito-sans'; */
@import "@fontsource-variable/inter";
@source "./src/*.{html,js}";
@theme {  
    --custom-font: "Inter Variable";
    --breakpoint-3xl: 112rem;
    --breakpoint-4xl: 128rem;
    --breakpoint-6xl: 161rem;
    --color-foreground: oklch(0.15 0.0444 255.9);
    --color-secondary: oklch(0.907 0.000 0);
    --color-secondary-foreground: oklch(0.25 0.0444 255.9);
    --color-primary: oklch(0.448 0.108 255.9);
    --color-primary-darkened: oklch(0.3532 0.0842 254.15);
    --color-primary-foreground: #fafdff;
}
/* @theme {  --custom-font: "Nunito Sans Variable";
} */
/* @source "./node_modules/preline/dist/*.js"; */
@import "preline/variants.css";
@plugin "@tailwindcss/forms";
@layer base{ html,:host{
font-family:var(--custom-font),var(--default-font-family);
}}
