@import "tailwindcss";
/* @import '@fontsource-variable/nunito-sans'; */
@import "@fontsource-variable/inter";
@import "@fontsource-variable/figtree";
@source "./src/*.{html,js}";
@theme {  
    --custom-font: "Inter Variable";
    --font-figtree: "Figtree Variable";
    --breakpoint-3xl: 112rem;
    --breakpoint-4xl: 128rem;
    --breakpoint-6xl: 161rem;

    --color-foreground: #333638; /* oklch(0.4111 0.0268 250.56); */
    --color-secondary: #f3f6fa; /* #f0f0f0; */
    --color-secondary-foreground: #204163;/*  oklch(0.4498 0.0298 257.68); */
    --color-primary: oklch(0.448 0.108 255.9);
    --color-primary-foreground: #fafdff;
    --color-border: #efefef;
    --color-border-light: #f7f7f7;
    --color-secondary-headline: #0d3966; /* oklch(0.2685 0.0616 267.83); */
    --color-foreground-headline: #14335a;
    --color-accent: #f7c333;

    --text-small: 0.9375rem;
    --text-headline: 2.125rem;
}
/* @theme {  --custom-font: "Nunito Sans Variable";
} */
/* @source "./node_modules/preline/dist/*.js"; */
@import "preline/variants.css";
@plugin "@tailwindcss/forms";
@layer base{ html,:host{
font-family:var(--custom-font),var(--default-font-family);
}}

  @utility text-body-sm {
    font-size: var(--text-small);
    /* line-height: 1.4rem; */
  }

@layer utilities {
  .font-headline {
    font-family: var(--font-figtree), var(--default-font-family);
  }
  .font-light-normal {
    font-weight: 350;
  }
  .border-border{
    border-color: var(--color-border);
  }
  .border-border-light{
    border-color: var(--color-border-light);
  }
  .text-headline-foreground{
    color: var(--color-foreground-headline);
  }

}
