@import "tailwindcss";
/* @import '@fontsource-variable/nunito-sans'; */
@import "@fontsource-variable/inter";
@import "@fontsource-variable/figtree";
@source "./src/*.{html,js}";
@theme {  
    --custom-font: "Inter Variable";
    --font-figtree: "Figtree Variable";
    --breakpoint-3xl: 112rem;
    --breakpoint-4xl: 128rem;
    --breakpoint-6xl: 161rem;

    --color-foreground: oklch(0.15 0.0444 255.9);
    --color-secondary: oklch(0.907 0.000 0);
    --color-secondary-foreground: oklch(0.25 0.0444 255.9);
    --color-primary: oklch(0.448 0.108 255.9);
    --color-primary-darkened: oklch(0.3532 0.0842 254.15);
    --color-primary-foreground: #fafdff;
    --color-border: #efefef;
    --color-border-light: #f7f7f7;

    --text-small: 0.9375rem;
    --text-headline: 2.125rem;
}
/* @theme {  --custom-font: "Nunito Sans Variable";
} */
/* @source "./node_modules/preline/dist/*.js"; */
@import "preline/variants.css";
@plugin "@tailwindcss/forms";
@layer base{ html,:host{
font-family:var(--custom-font),var(--default-font-family);
}}

@layer utilities {
  .font-headline {
    font-family: var(--font-figtree), var(--default-font-family);
  }
  .font-light-normal {
    font-weight: 350;
  }
  .text-body-sm {
    font-size: var(--text-small);
    line-height: 1.4rem;
  }
  .text-headline {
    font-family: var(--font-figtree), var(--default-font-family);
    font-size: var(--text-headline);
    line-height: 2.376rem;
    font-weight: 350;
  }
  .border-border{
    border-color: var(--color-border);
  }
  .border-border-light{
    border-color: var(--color-border-light);
  }

}
