---
title: "Folienverpackung für Transportverpackung"
layout: layout/page-wrapper-with-breadcrumbs.njk
---

<h1 class="text-4xl font-extrabold  text-center tracking-wide mt-12">{{ title }}</h1>
<div class="flex flex-col mt-12 gap-24  rounded-md">
    {% for product in collections['folienverpackung-fuer-transportverpackung'] %}
        {% if product.url != page.url %}
            <div class="">
                <div class="grid md:grid-cols-[2fr_1fr] px-4 min-h-[60vh]">
                    <div class="flex flex-col m-12">
                        <div class="">
                            <h1 class="text-3xl text-zinc-800 tracking-wide pb-2">{{ product.data.name | safe }}</h1>
                        </div>
                        <p class=" text-zinc-700 max-w-140 mb-8 font-light text-lg tracking-wide">{{ product.data.description }}</p>
                        <div class="">
                            <img class="h-auto rounded-lg" src="{{ product.data.image }}"/>
                        </div>
                    </div>
                    <div class="flex flex-col gap-8 justify-center p-6 border border-gray-300 bg-zinc-50 shadow-xl  rounded-md  mt-12 h-fit">
                        <div class="text-gray-700 font-medium">{{ product.data.features | safe }}</div>
                        <hr class="border-gray-300 dark:border-white"/>
                        <div class="text-gray-700 font-light ">
                            {{ product.data.manufacturer_information | safe }}
                            <div class="flex justify-end">
                                <img class="w-24 h-auto self-end" src="{{ product.data.manufacturer_image_path }}"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>